
#padre1{
    font-size: 19px;
    padding: 0.5%;
    /* background-color: rgba(0, 0, 0, 0.318); */
    padding: 1%;
    border-radius:20px ;
}



a:hover{
     
    color: rgba(53, 130, 9, 0.504);
}
